<% layout("/layouts/boilerplate") %>
<div>
    <div class="heading-club">
        <h2><%= club.title %></h2>
    </div>

    <!-- <button class="btn btn-success">
        <a href="/clubs/<%= club._id %>/listings/new">New Post</a>
    </button> -->
    <div class="description">
        <h2>About
            <%= club.title %>
        </h2>
        <div class="accordion" id="accordionExample">
        <% for(let i = 0;i< club.about.length; i++) {%>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <%= club.about[i].title%>
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>
                            <%= club.about[i].desc %>
                            </strong>
                        </div>
                </div>
            </div>
        <% } %> 

        </div>
        <div>
            <h2>Coordinators</h2>
            <div class="coord">
            <% for(let i = 0; i<club.coordinators.length; i++){%>
                <div class="coord-items">
                <div class="coord-img">
                    <!-- <img src="<%= club.coordinators[i].img.url %>" alt=""> -->
                </div>
                <div class="coord-name">
                    <h3><%= club.coordinators[i].name %></h3>
                </div>
                <div class="coord-rollNo">
                    (<%= club.coordinators[i].rollNo %>)
                </div>
                </div>
            <%}%>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
            const accordionItems = document.querySelectorAll(".accordion-item");
            accordionItems.forEach((item, index) => {
                const button = item.querySelector(".accordion-button");
                const collapse = item.querySelector(".accordion-collapse");

                const newId = `collapse${index + 1}`;
                button.setAttribute("data-bs-target", `#${newId}`);
                button.setAttribute("aria-controls", newId);
                collapse.setAttribute("id", newId);
            });
        });

</script>